#arriba{
    position: absolute;
    width: 1175px;
    height: 60px;
    top: 0px;
    left: 0px;
}

#medio{
    position: relative;
    width: 1175px;
    height: 770px;

    top: 55px;   
}

#paginac{
   position: relative;
    width: 1175px;

    height: 750px;
    background-image: url(../img/page-bg-1.jpg);
    margin: 0px auto;
}

#izquierdac{
    position: absolute;
    width: 750px;

    height: 750px;
}

#derechac{
    position: absolute;
    width: 420px;

    height: 750px;
    right: 0px;
}

div#izquierda > #tituloc{
    position: relative;
    width: 750px;
    height: 100px;

}

 #textoc{
    position: relative;
    width: 750px;
    height: 150px;

}

#formularioc{
    position: relative;
    width: 750px;
    height: 500px;

}

#tituloc{
    font-size: 15px
}

#verde{
    background-color: rgb(181, 241, 181);
}

#dondec h1 {
    background-color: white;
    width: 400px;
}

#datosc h1 {
    background-color: white;
    width: 400px;
}

#mapac {
    width: 400px;
}

#datosc a {
    color: orangered;
}

.botonesf {
    width: 400px;
    height: 20px;
}

textarea {
    width: 550px;
    height: 150px;
}