#medio{
    position: relative;
    width: 1175px;
    height: 770px;
   
    top: 55px;
    
}

#arriba{
    width: 1175px;
    height: 60px;
    top: 0px;
    left: 125px;
}

#bajo{
    position: relative;
    width: 1175px;
    height: 750px;
    top: 55px;
}

#imagennoticia{
    width: 570px;
    height: 770px;
   
}


#titulonoticia{
    height: 60px;
    width: 599px;
 
    float: right;
    top: 100px;
}

#textonoticia{
    position: relative;
    height: 650px;
    width: 599px;
   
    top: 60px;
}

div#imagennoticia img {
    width: 570px;
    height: 770px;
}

#izquierda{
    position: relative;
    
    width: 570px;
    float: left;

}

#derecha{
    position: relative;
  
    width: 599px;
    float: right;
    height: 720px;

}

#textonoticia h1 {
    top: auto;
    font-size: 26px;
    }

#titulonoticia h1{
    font-size: 30px;
}

#derecha a {
    font-size: 20px;
}

#v {
    float: right;
    margin: 10px;
}

#m{
    margin: 10px;
}